@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;

  --plyr-color-main: rgba(31, 41, 55, 1);
  /* --plyr-audio-controls-background: #fee; */
  --plyr-control-icon-size: 24px;
}

.plyr__controls {
  padding: 0 !important;
}
