---
import { getFeed } from '../data/podRSS';
import BigCard from '../components/BigCard.astro';
import Default from '../Layouts/default.astro';
import Icon from 'astro-icon';

const res = await getFeed();

const latest = res.entries[0];
const meta = res;
---

<Default>
  <div class="relative w-full flex flex-col items-center justify-center mb-10">
    <BigCard
      title={`${latest.title}` || ''}
      image={latest.fullData['itunes:image']['@_href']}
      season={latest.fullData['itunes:season']}
      episode={latest.fullData['itunes:episode']}
      file={latest.fullData.enclosure['@_url']}
      url={latest.link || ''}
      date={latest.published}
      newEpisode={true}
    />
    <div class="mt-[60px] lg:mt-[160px] w-full max-w-prose mb-8 px-6">
      <h1 class="text-2xl font-bold">Find us and subscribe on:</h1>
    </div>
    <div class="flex flex-wrap w-full max-w-prose px-6">
      <a
        href="https://www.audible.com/pd/The-CodePub-Podcast-Podcast"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="amazon" width="40px" />
      </a>
      <a
        href="https://podcastindex.org/podcast/6010767"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="antennapod" width="40px" />
      </a>
      <a
        href="https://podcasts.apple.com/us/podcast/the-codepub-podcast/id1669738131"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="apple" width="40px" />
      </a>
      <a
        href="https://deezer.page.link/FWAYvvczVQD5QKM19"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="deezer" width="40px" />
      </a>
      <a
        href="https://podcasts.google.com/feed/aHR0cHM6Ly9wb2QuY29kZXB1Yi5kZXYvQGNvZGVwdWIvZmVlZC54bWw"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="google" width="40px" />
      </a>
      <a
        href="https://pca.st/99gddxuh"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="pocketcasts" width="40px" />
      </a>
      <a
        href="https://open.spotify.com/show/6wNY8ZQtKYsmfRGShrnE4T?si=8fd3808fd03c4c49"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="spotify" width="40px" />
      </a>
      <a
        href="https://www.youtube.com/channel/UCEecNTCyhHBmWmmj_WXqKWw"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="bi:youtube" width="40px" />
      </a>
      <a
        href="https://pod.codepub.dev/@codepub/feed.xml"
        class="mr-4 mb-4 block border-black rounded-full border p-2 w-[60px] h-[60px] flex items-center justify-center"
      >
        <Icon name="mdi:rss-box" width="40px" />
      </a>
    </div>
  </div>
</Default>
