---
import BaseHead from '../components/BaseHead.astro';
import { Bubbles } from '../components/Particles';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import logoSmall from '../assets/logo-small.png';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="h-screen w-full bg-gray-800">
      <div class="w-full p-8 flex items-center justify-center flex-col h-full">
        <Fragment>
          <Bubbles client:only="solid" />
        </Fragment>
        <div class="w-full h-full flex items-center justify-center flex-col">
          <img
            src={logoSmall}
            class="h-64"
            style={{
              perspective: '800px',
              transform: 'rotate3d(0, 0, -1, 5deg)',
            }}
          />
          <div
            class="text-4xl font-light text-center mb-9"
            style={{
              fontFamily: 'Monoton',
              color: '#fee',
              textShadow:
                '0 -40px 100px, 0 0 2px, 0 0 1em #ffbe0b, 0 0 0.5em #ffbe0b, 0 0 0.1em #ffbe0b, 0 5px 3px #000',
            }}
          >
            c
            <span class="blinking-letter">o</span>
            de
            <span class="blinking-letter">p</span>
            ub
          </div>
          <p
            class="text-white text-xl sub-text text-center"
            style={{
              textShadow: '0 3px 30px #000',
              fontFamily: 'Crete Round',
            }}
          >
            code on tap (the podcast about 🍻 and 💻)
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
